/*全局公共样式*/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:rgba(255,0,0,0);}
html{overflow-x:hidden;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,table,th,td,form,fieldset,input,button,textarea,menu,i{margin:0;padding:0;} 
body{font-family:'Microsoft YaHei';font-size:14px;margin:0;padding:0;background:#FFF}
input,textarea{font-family:'Microsoft YaHei';height:36px;line-height:36px;display:block;width:100%;padding-left:10px;font-size:14px;background-image:none;border-radius:3px;border:solid 1px #e0e0e0;}
input[type='text']:focus,textarea:focus{-moz-box-shadow:0px 0px 5px rgba(204,204,204,0.5);-webkit-box-shadow:0px 0px 5px rgba(204,204,204,0.5);box-shadow:0px 0px 5px rgba(204,204,204,0.5);}
input.inputu{display:inline;width:35px;height:20px;margin:0 3px;padding:0 2px;vertical-align:baseline;}
input.lineinput{display:inline;width:100px;}
a,a:link,a:visited,a:hover,a:focus,a:active{text-decoration:none;cursor:pointer;} 
img{vertical-align:middle;border:0px none;}
h1,h2,h3,h4,h5,h6{font-weight:500;color:inherit;}
h1,h2,h3,h4,h5{padding:10px 0;}
h1{font-size:36px;}h2{font-size:30px;}h3{font-size:25px;}h4{font-size:18px;}h5{font-size:14px;}h6{font-size:14px;}
p{margin:0px;line-height:25px;}li{list-style:none;}
ul {margin:0;padding:0;list-style:none;}
li ul{margin-bottom:0;padding-left:10px;} 
li a img{border:0;max-width:100%;}
div{margin:0 auto;}
/*盒子 所有元素都包含在盒子内*/
.zbox {width:100%;margin-right:auto;margin-left:auto;}.zbox:before,.zbox:after {display:table;content:" ";}.zbox:after {clear:both;}
 /*盒子左右padding15用于抵消行的margin-15*/
.Panel{margin-right:auto;margin-left:auto;}
.Panel:before,.Panel:after{display:table;content:" ";}
.Panel:after{clear:both;}
/*行 盒子的一级内容必须是行*/
.row{}
.row:before,.row:after{display:table;content:" ";}
.row:after{clear:both;}
/*列 行的一级内容必须是列 实际内容必须包含在列中 position:relative;*/
div.c1,div.c2,div.c3,div.c4,div.c5,div.c6,div.c7,div.c8,div.c9,div.c10,div.c11,div.c12{float:left;}
.c12{width:100%;}.c11{width:91.6667%;}.c10{width:83.3333%;}.c9{width:75%;}
.c8{width:66.6667%;}.c7{width:58.3333%;}.c6{width:50%;}.c5{width:41.6667%;}
.c4{width:33.3333%;}.c3{width:25%;}.c2{width:16.6667%;}.c1{width:8.33333%;}   
/*基础行高100 h数字 表示倍数 如h6表示600高*/
.hs{height:80px;}.hsm{height:60px;}.hsmm{height:30px;}.h1{height:100px;}.h2{height:200px;}.h3{height:300px;}
.h4{min-height:400px;_height:400px;}.h5{min-height:500px;_height:500px;}.h6{min-height:600px;_height:600px;}
/*基础宽度100 同上*/
.ws8{width:80px;}.ws{width:70px;}.wsm{width:60px;}.wt{width:45px;}.wsmm{width:30px;}.w1{width:100px;}.w12{width:120px;}.w15{width:150px;}.w2{width:200px;}.w3{width:300px;}
.w4{width:400px;}.w5{width:500px;}.w6{width:600px;}.w7{width:700px;}.w8{width:800px;}.w9{width:900px;}.w100{width:100%;}
/*常用padding margin*/
.p0{padding:0;}.p5{padding:5px;}.p10{padding:10px;}.p15{padding:15px;}.p20{padding:20px;}.p30{padding:30px;}.plr15{padding:0px 15px;}
.m0{margin:0;}.m5{margin:5px;}.m10{margin:10px;}.m15{margin:15px;}.m20{margin:20px;}.m30{margin:30px;}.m50{margin:50px;}.m60{margin:30px 60px;}
.lh30{line-height:30px;}
.mclear{margin:0px auto 10px;}
.fright,.fr,a.fr{float:right;}.fleft,.fl{float:left;}
div.fright,div.fr,a.fr{float:right;}div.fleft,div.fl{float:left;}
.hide,.none,.btn.hide{display:none;}
.hide.show{display:block;}
/*清除浮动*/
.txtl{text-align:left}.txtc{text-align:center}.txtr{text-align:right}
.f10{font-size:10px;color:#999;}.f12{font-size:12px;color:#999;}.f20{font-size:20px;}.f18{font-size:18px;}.f16{font-size:16px;font-weight:bold;}
.clear10{clear:both;height:10px;width:100%;} 
.clear20{clear:both;height:20px;width:100%;} 
.clear50{clear:both;height:50px;width:100%;} 
.clear{clear:both;} 
.overflowh,.clearf{overflow:hidden;clear:both;}
.cb{clear:both;zoom:1;overflow:hidden;height:0} .cb:after,.cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.cb,.cbli li{zoom:1;}
/*常用颜色*/
.colf,.colf a,.colf a:hover,.colf a:active,.colf:hover,.colf:active{color:#FFF;}
.colh,.colh a{color:#000;}
.colr{color:red}
.colg{color:green}
/*常用边框及背景*/ 
.bgf{background:#FFFFFF;}
.bg0{background:#000000;}
.bgc{background:#cccccc;}
.bgr{background:#FF0000;}
.bgg{background:#00FF00;}
.bgb{background:#0000FF;}
.bgj{background:#FF6600;}
/*常用透明度*/
.op1{filter:alpha(opacity=10);opacity:0.1;}.op2{filter:alpha(opacity=20);opacity:0.2;}.op3{filter:alpha(opacity=30);opacity:0.3;}
.op4{filter:alpha(opacity=40);opacity:0.4;}.op5{filter:alpha(opacity=50);opacity:0.5;}.op6{filter:alpha(opacity=60);opacity:0.6;}
.op7{filter:alpha(opacity=70);opacity:0.7;}.op8{filter:alpha(opacity=80);opacity:0.8;}.op9{filter:alpha(opacity=90);opacity:0.9;}
/*z-index垫底*/
.zb{z-index:-1;}
.z10{z-index:10;}
.z100{z-index:100;}
.z200{z-index:200;}
.z500{z-index:500;}
/*loading*/
.zjstips{position:fixed;top:28%;padding:5px 10px;text-align:center;z-index:1000;background:#FFF;}
/*文本框前提示消息*/
.info{margin:6px 0 0 10px;display:inline-block;float:none;font-weight:normal;position:absolute;background:#FFF} 
/*常用绝对定位*/
.abs{position:absolute;}
.absbox{position:relative;}
.tipsbox{position:relative;}
.tips{position:absolute;top:6px;right:2px;background:#FFF;}
.tipm{position:absolute;top:8px; left:-12px;background:#FFF;}
.tipp{position:absolute;top:8px;right:-12px;background:#FFF;}

.money:before{content:"￥";}
.delete:before{content:"￥";}
.money{color:red;}
.delete{color:#ccc;text-decoration:line-through;}
.icon-remove{color:red;} 

.cselectorImageSelect{}
.cselectorLink{}
.cselectorIcon{}
/*图片上传器*/
.cselectorImageUL{position:relative;}
.cselectorImageUL .btn{display:none;}
.cselectorImageUL input{} 

.showbtn .cselectorImageUL .btn{position:absolute;z-index:3;display:block;}
.showbtn .cselectorImageUL input{position:absolute;z-index:5;filter:alpha(opacity=0);opacity:0;} 

.htmldemo {background:#f1f1f1;border:1px solid #e7e7e8;padding:10px;line-height:30px;}
/*图片上传样式*/
.uploadImage{position:absolute;left:100px;top:0px;z-index:10;background:#FFF;}
.uploadImage img{max-width:40px;max-height:40px;}
.uploadImage_del{display:block;position:absolute;right:0;top:-15px;}
.imageList{}
.imageList li{float:left;width:100px;margin:5px;}
.imageList li img{width:100%;}
.imageList li .delimg{float:right;}
.hideuploadImage .uploadImage{display:none;}
.standValue{float:left;width:100px;margin:5px;position:relative;}
.standValue .delimg{position:absolute;right:5px;top:0;display:none;}
.standValue:hover .delimg{display:block;}
.ceditor{border:0px;} 
/*下拉列表框*/ 
.cselectorBox{}
.cselectorBox a:hover{text-decoration:none;}
.cselector{}
.cselectorAuto{}
.cselectorInput{display:block;height:30px;line-height:28px;width:100%;padding:0 20px 0 10px;border-radius:3px;
                background:#FFFFFF url(/img/ddl.png) no-repeat right center ;text-align:left;overflow:hidden;border:solid 1px }
.cselectorInput:hover{background:#FFFFFF url(/img/ddl1.png) no-repeat right center ;text-decoration:none;}
.cselectorInput input{width:100%;border:0px;padding:0px;height:28px;}
/*下拉列表框框*/ 
.cselectorUL{position:absolute;background:#FFFFFF;display:none;border:solid 1px ;border-top-width:0px;
             max-height:369px;_height:369px;z-index:399;margin-top:0px;}
.cselectorUL div{height:25px;line-height:25px;text-align:left;display:block;}
.cselectorUL a{height:25px;line-height:25px;text-align:left;display:block;padding:0 20px 0 10px;}
.cselectorUL a.hover{background-color:#255599;color:#FFFFFF;text-decoration:none;zoom:1}
.cselectorUL a:hover{background-color:#255599;color:#FFFFFF;text-decoration:none;zoom:1}
/*下拉列表 abcd选择器模式*/
.cselectorPanel{min-width:500px;border-width:1px;}
.cselectorPanel .panelbtns{border-bottom:dotted 1px #cdcdcd;_display:none;}
.cselectorPanel .panelbtns b{margin:0 10px;cursor:pointer;}
.cselectorPanel a{width:96px;float:left;overflow:hidden;} 
/*单选按钮*/
.cselectorRadio{}
.cselectorRadioUL{min-height:30px;line-height:30px;}
.cselectorRadioLi .cselectorRadioUL{height:auto;}
.cselectorRadioUL a{background:url(/img/r1.png) no-repeat left center;padding:0px 0 0px 15px;margin:0 5px 0 0;}
.cselectorRadioUL a h3{display:inline;}
.cselectorRadioImage+.cselectorRadioUL a{width:100px;padding:20px 0 0 0;text-indent:0px;float:left;margin:0 3px 0 0;}
.cselectorRadioImage+.cselectorRadioUL a img{width:100px;height:100px;}
.cselectorRadioUL a:hover{text-decoration:none;}
.cselectorRadioUL .select{background-image:url(/img/r2.png);} 
/*cselectorRadioTabs选项卡式单选*/
.cselectorRadioTabs .cselectorRadioUL{border-bottom:1px solid #ccc;padding:6px;}
.cselectorRadioTabs .cselectorRadioUL a{background:none;padding:10px;font-size:18px;}
.cselectorRadioTabs .cselectorRadioUL a.select{color:#FF6600;border-bottom:solid 1px #ff6600}

.cselectorRadioItem{}
.cselectorRadioItem .cselectorRadioUL a{margin:0px 5px 0px 0px;padding:5px 8px;background:none;} 
.cselectorRadioItem .cselectorRadioUL a:hover {background:#a8d3ee;color:#FFF;text-decoration:none;}
.cselectorRadioItem .cselectorRadioUL .select{background:#3597d4;color:#FFF;} 
/*复选按钮*/
.cselectorCheckBox{}
.cselectorCheckBoxUL{height:30px;line-height:30px;}
.cselectorCheckBoxUL a{background:url(/img/c1.png) no-repeat left center;padding:0px 0 0px 15px;margin:0 5px 0 0;float:left;}
.cselectorCheckBoxUL a:hover{text-decoration:none;}
.cselectorCheckBoxUL .select{background-image:url(/img/c2.png);}
.checkBoxSkin1 .cselectorCheckBoxUL a{background:url(/img/cb1.png) no-repeat center top;padding:30px 0px 0px 0px;width:105px;text-align:center;}
.checkBoxSkin1 .cselectorCheckBoxUL .select{background-image:url(/img/cb2.png);}
.cselectorImage{}  
/*复选下拉*/
.cselectorCheckList{}
.cselectorCheckListUL a,.panelallbtns .checklistall{background:url(/img/c1.png) no-repeat 8px center;padding:0px 0 0px 25px;margin:0 5px 0 0;}
.cselectorCheckListUL a:hover{text-decoration:none;}
.cselectorCheckListUL .select{background-image:url(/img/c2.png);}
.cselectorCheckListUL a.readonly{background-image:none;padding:0px 0 0px 10px;}
/*始终显示的下拉框*/
.onlyshow .cselectorInput{display:none;}
.onlyshow .cselectorUL{display:block;border:none;max-height:1000px;}
.showother{}
.showother input{width:auto;float:right;}
.showother .cselectorInput{width:auto;}
/*星级评分选择器*/
.cselectorStar{}
.cselectorStarBoxUL{position:relative;width:105px;height:21px;background:url(/img/star.png) repeat-x 0 -21px;float:left;}
.cselectorStarBoxUL .star{position:absolute;display:block;height:21px;}
.cselectorStarBoxUL .star:hover,.cselectorStarBoxUL .star.hover{background:url(/img/star.png) repeat-x 0 0px;}
.cselectorStarBoxUL .star1{width:20%;z-index:15;}
.cselectorStarBoxUL .star2{width:40%;z-index:14;}
.cselectorStarBoxUL .star3{width:60%;z-index:13;}
.cselectorStarBoxUL .star4{width:80%;z-index:12;}
.cselectorStarBoxUL .star5{width:100%;z-index:11;}
.starshow{height:21px;background:url(/img/star.png) repeat-x 0 0px;width:0px;float:left;}
.starshow.star1{width:21px;}
.starshow.star2{width:42px;}
.starshow.star3{width:63px;}
.starshow.star4{width:84px;}
.starshow.star5{width:105px;}
/*树虚线*/
.cselectorUL li ul{padding:0;margin-left:10px;border-left:dotted 1px #ddd;} 
/*手机端城市选择器*/
.weicitybox{position:absolute;top:0px;left:0;width:100%;background:#FFF;z-index:998;}
.weicitybox li{height:40px;line-height:40px;font-size:16px;text-align:center;border-bottom:solid 1px #ddd;}
.weicitybox li:hover,
.weicitybox li:active
{background:#ddd;}

/*转场效果*/
.inanimation{position:absolute;animation:inanimation 0.1s;width:100%;
-moz-animation:inanimation 0.1s;	/* Firefox */
-webkit-animation:inanimation 0.1s;	/* Safari 和 Chrome */}
@keyframes inanimation{0%{right:-100%; }80%{right:-20%; }100%{right:0px; }}
@-moz-keyframes inanimation{0%{right:-100%; }80%{right:-20%; }100%{right:0px; }}/* Firefox */
@-webkit-keyframes inanimation{0%{right:-100%; }80%{right:-20%; }100%{right:0px; }}/* Safari 和 Chrome */

/*退场效果*/
.backanimation{position:absolute;animation:inanimation 0.1s;width:100%;
-moz-animation:outanimation 0.1s;	/* Firefox */
-webkit-animation:outanimation 0.1s;	/* Safari 和 Chrome */}
@keyframes outanimation{0%{left:-100%; }80%{left:-20%; }100%{left:0px; }}
@-moz-keyframes outanimation{0%{left:-100%; }80%{left:-20%; }100%{left:0px; }}/* Firefox */
@-webkit-keyframes outanimation{0%{left:-100%; }80%{left:-20%; }100%{left:0px; }}/* Safari 和 Chrome */
  
/*幻灯片样式 Start*/
.cfocus{position:relative;overflow:hidden;} 
.cfocus .item{position:absolute;height:100%;}
.cfocus,.cfocus .item,.cfocus .item a,.cfocus .item img,.cfocus .item tt,.cfocus .item h6{width:100%;}
.cfocus .item a{display:block;height:100%;}
.cfocus .item a tt{position:absolute;bottom:0px;left:0;z-index:50;height:30px;overflow:hidden;background:#000;opacity:0.6;}
.cfocus .item a h6{position:absolute;bottom:0px;left:0;z-index:51;height:30px;line-height:30px;overflow:hidden;color:#FFF;padding:0 5px;}

.cfocus .page{position:absolute;z-index:53;left:0;bottom:0;right:15px;text-align:center;}
.cfocus .page a{border-radius:50%;display:inline-block;height:12px;margin:3px;width:12px;color:#eee}
.cfocus .page a.hover,.cfocus .page a:hover{color:#2a9af0;} 
  
/*特殊表格头*/ 
.tdtitle{text-align:center;font-size:18px;height:30px;background:url(/img/line.jpg) repeat-x center center;}
.tdtitle1{text-align:left;height:50px;}
.tdtitle b{background:#FFF;padding:10px;}
.tdtitle a.add{position:absolute;right:10px;}
  
/*不变色彩定义*/
.error{color:Red;border-color:Red}
td input,td textarea,.cselectorInput,.cselectorUL{border-color:#cdcdcd} 
  
/*超级H5时的页面容器*/
.pageview{position:fixed;width:100%;top:55px;bottom:50px;overflow-y:scroll;overflow-x:hidden;}
.fromAndroid .pageview{position:absolute;width:100%;top:60px;bottom:auto;padding-bottom:50px;overflow:hidden;} 
   
/**select**/
.cselectorUL a.hover,.cselectorUL a:hover{background-color:#3597d4;} 
/*zcolors*/
.zbg1{background:#ddf1fe}.zbg2{background:#a8d3ee}.zbg3{background:#3597d4}.zbg4{background:#2286c4}.zbg5{background:#2181bd}.zbg6{background:#0c68a1}
.zcolor1{color:#ddf1fe}.zcolor2{color:#a8d3ee}.zcolor3{color:#3597d4}.zcolor4{color:#2286c4}.zcolor5{color:#2181bd}.zcolor6{color:#0c68a1}