body{background:#eaedf1;}
/**313854**/
.back_main{background:#313854;}
/**394263**/
.menu{background:#394263;}
.header_nav,.input_search{background:#f9fafc;}
.fi,.col_f,.input_search:focus,.header_nav_user li a{color:#394263;}
.fi:hover,.header_logo:hover,.menu_c{background:#1bbae1;}
.menu_user_link a{color:#82889d;}
ul.nav1 li a,.title,.title a{color:#9297aa;}
ul.nav1 li a.active{border-left:5px solid #1bbae1;color:#eaedf1;}
ul.nav1 li a span,.title a:hover,.title .tit,.title .tit a{color:#d4dbe5;}
ul.nav1 li a:hover,ul.nav1 li a.a_hover,ul.nav1 li a:hover span,ul.nav1 li a.active span,ul.nav1 li a.a_hover span,.title a:hover,.title .tit:hover{color:#eaedf1;}
/**pages**/
.data_title{border-bottom:1px solid #dbe1e8;border-top:1px solid #eaedf1;}
.data_title h2,.box_tit strong,table.ctable thead tr td,.locktable-box table thead td{color:#394263;}
.data_title h2 i{color:#eaedf1;}
.box_tit{border-color:#dbe1e8;background:#f9fafc;}
.box_form{border-color:#eaedf1 #dbe1e8 #dbe1e8;}
.box_bom{border-color:#eaedf1 #dbe1e8 #dbe1e8;}
table.ctable td,table.ctable thead tr td,table.ctable tbody tr:last-child td,
.locktable-body .markbox,.locktable-body-left,.locktable-body-right,.locktable-box table thead td{border-color:#eaedf1;}
/**background**/
.bg_w{background:#ffffff;}
/**zjs**/
.error{color:Red;border-color:Red}
td input,td textarea,.cselectorInput,.cselectorUL{border-color:#e0e0e0}
.cselectorDiv .cselectorTitle,.cselectorDiv,.cselectorDiv .cselectorBody li ul{border-color:#4cae4c}
.btn{background-color:#5cb85c;border-color:#4cae4c;color:#fff}
.btn-org{background-color:#f0ad4e;border-color:#eea236;color:#fff}
.btn-hui{background-color:#e6e6e6;border-color:#adadad;color:#333}
.btn:hover,.btn:active,.btn:focus,.btn.hover{background-color:#449d44;border-color:#398439;color:#fff}
.btn-org:hover,.btn-org:active,.btn-org:focus{background-color:#ec971f;border-color:#d58512;color:#fff}
.btn-hui:hover,.btn-hui:active,.btn-hui:focus{background-color:#e6e6e6;border-color:#adadad;color:#333}
body,input,textarea{color:#333}
a:hover,a:focus{color:#000}
input,textarea{background-color:#fff}
input:focus,textarea:focus{border-color:#b0bbe5;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
input.ui_state_highlight:active,.ui_close:hover,.ui_close:focus{background:#5cb85c}
.ui_title{border-color:#dbe1e8;background:#f9fafc;}
.ui_state_focus .ui_title{color:#394263;}
.cselectorDiv .cselectorTitle,input.ui_state_highlight,.touchslider-btn span.touchslider-nav-item-current{background-color:#4cae4c}
.c-left>ul>li>ul,.c-left>ul>li.select>ul{background:#5cb85c}
.c-left>ul>li.select,.c-left>ul>li:hover{background:#398439}
.zbg1{background:#398439}
.zbg2{background:#449d44}
.zbg3{background:#4cae4c}
.zbg4{background:#5cb85c}
/*trow*/
.trow_add,table.ctable thead tr td.trow_add{color:#5cb85c}
.trow_del,table.ctable thead tr td.trow_del{color:#f00}
