/*
 * @Author: MWeiLiu 
 * @Date: 2018-12-27 13:13:48 
 * @Last Modified by: MWeiLiu
 * @Last Modified time: 2018-12-27 13:26:29
 */

/* 按钮 */
.topBtn {
    height: .513158rem;
    border-bottom: 1px solid rgba(247, 247, 247, 1);
  
    .topLeftBtn {
      .LeftBtnItem {
        height: 0.131579rem;
        border-left: 1px solid rgba(208, 208, 208, 1);
        margin-top: 0.210526rem;
        padding: 0 0.263158rem;
        padding-bottom: 0.105263rem;
        font-size: 0.210526rem;
        font-family: MicrosoftYaHei;
        font-weight: bolder;
        color: rgba(102, 102, 102, 1);
        line-height: 0.105263rem;
        cursor: pointer;
  
        &.active span {
          color: rgba(102, 102, 102, 1);
          border-bottom: 2px solid rgba(63, 178, 232, 1);
          padding: .105263rem 0;
        }
  
        &:first-child {
          border-left: none;
        }
  
        &:last-child {
          border-left: none;
          font-size: 0.289474rem;
          font-weight: bolder;
          color: rgba(63, 178, 232, 1);
        }
      }
    }
  
    .topRightBtn {
      margin-right: 0.947368rem;
  
      .RightBtnItem {
        height: 0.131579rem;
        padding: 0 0.131579rem;
        margin-top: 0.184211rem;
        border-left: 1px solid rgba(208, 208, 208, 1);
        font-size: 0.184211rem;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 10px;
  
        &.active {
          color: rgba(63, 178, 232, 1);
        }
  
        &:first-child {
          border-left: none;
        }
      }
    }
  }
  