/*
 * @Author: MWeiLiu 沟通
 * @Date: 2018-12-24 17:10:33
 * @Last Modified by: MWeiLiu
 * @Last Modified time: 2019-01-03 11:26:37
 */

@import './communicateLeft';

.communicate {
  height: 100%;
  background: rgba(247, 247, 247, 1);
}

.communicate .right {
  width: 12.078947rem;
}